[submodule "pcie-model"]
	path = pcie-model
	url = https://github.com/Xilinx/pcie-model.git
[submodule "libsystemctlm-soc"]
	path = libsystemctlm-soc
	url = https://github.com/ruiqurm/libsystemctlm-soc.git
